table{
    display: inline;
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 10%;
}
h1{
    text-align: center;
    justify-content: center;
    align-items: center;
}
button,.back{
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    cursor: pointer;
}
.update{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: green;
}
.delete{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: red; 
}